<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="${isEdit} ? 'Edit Exercise' : 'Add Exercise to Workout Plan'">
    Workout Plan Item
  </title>

  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>

  <h2 th:text="${isEdit} ? 'Edit Exercise' : 'Add Exercise to Workout Plan'">
    Workout Plan Item
  </h2>

  <form th:object="${workoutPlanItem}"
        th:action="${isEdit}
              ? @{/plans/{planId}/items/edit(planId=${plan.id})}
              : @{/plans/{planId}/items/add(planId=${plan.id})}"
        method="post">

    <input type="hidden" th:field="*{id}">

    <label>Exercise</label><br>

    <select name="exerciseId" required>

      <option value="">Select Exercise</option>

      <option
              th:each="exercise : ${exercises}"
              th:value="${exercise.id}"
              th:text="${exercise.name}"
              th:selected="${workoutPlanItem.exercise != null
                        and workoutPlanItem.exercise.id == exercise.id}">
      </option>

    </select>

    <br><br>

    <label>Sets</label><br>

    <input type="number"
           th:field="*{sets}"
           min="1"
           required>

    <span th:errors="*{sets}"></span>

    <br><br>

    <label>Reps</label><br>

    <input type="number"
           th:field="*{reps}"
           min="1"
           required>

    <span th:errors="*{reps}"></span>

    <br><br>

    <label>Target Minutes</label><br>

    <input type="number"
           th:field="*{targetMinutes}"
           min="1"
           required>

    <span th:errors="*{targetMinutes}"></span>

    <br><br>

    <div class="form-actions">

      <button type="submit"
              class="btn btn-save"
              th:text="${isEdit} ? 'Update Exercise' : 'Save Exercise'">
      </button>

      <a th:href="@{/plans/{id}(id=${plan.id})}"
         class="btn btn-cancel">
        Cancel
      </a>

    </div>

  </form>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>